asgiref==3.7.2
attrs==25.4.0
cachetools==6.2.1
cattrs==25.3.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
configparser==7.2.0
crayons==0.4.0
cryptography==46.0.3
deepmerge==1.0.1
defusedxml==0.7.1
dictor==0.1.11
Django==4.2.23
django-allauth==0.61.1
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-extensions==3.2.3
djangorestframework==3.15.2
drf-spectacular==0.27.1
durationpy==0.10
elementpath==5.0.4
exceptiongroup==1.3.0
flake8==3.9.0
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.42.1
grafana-django-saml2-auth==3.12.0
gunicorn==23.0.0
idna==3.11
inflection==0.5.1
Jinja2==3.1.6
jsonschema==3.2.0
kubernetes==34.1.0
ldap3==2.9.1
MarkupSafe==3.0.3
mccabe==0.6.1
mock==4.0.2
oauthlib==3.3.1
packaging==25.0
pip==25.3
platformdirs==4.5.0
prettytable==3.16.0
psycopg2-binary==2.9.11
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.7.0
pycparser==2.23
pyflakes==2.3.1
PyJWT==2.8.0
pyOpenSSL==25.3.0
pyrsistent==0.20.0
pysaml2==7.4.2
python-dateutil==2.9.0.post0
python-irodsclient==1.1.5
python3-openid==3.2.0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
requests-cache==1.2.1
requests-oauthlib==1.4.0
rsa==4.9.1
selenium==3.141.0
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
sqlparse==0.5.3
typing_extensions==4.15.0
uritemplate==4.2.0
url-normalize==2.2.1
urllib3==2.3.0
wcwidth==0.2.14
webdriver-manager==3.2.1
websocket-client==1.9.0
xmlschema==4.2.0