{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" .  }}{{ template "chart.typeBadge" .  }}{{ template "chart.appVersionBadge" .  }}

HeLx puts the most advanced analytical scientific models at investigator’s finger tips using equally advanced cloud native, container orchestrated, distributed computing systems. HeLx can be applied in many domains. Its ability to empower researchers to leverage advanced analytical tools without installation or other infrastructure concerns has broad reaching benefits.

```
# The most basic deployment of HeLx to a Kubernetes cluster on GKE.
NAMESPACE=helx
# Authenticate to the HeLx OCI registry. GHCR_TOKEN needs packages:read.
echo "$GHCR_TOKEN" | helm registry login ghcr.io --username "$GHCR_USER" --password-stdin
helm -n $NAMESPACE --create-namespace install helx oci://ghcr.io/helxplatform/helm-charts/helx --version {{ .Chart.Version }}

# Deploy to a non-GKE cluster.
helm -n $NAMESPACE --create-namespace install helx oci://ghcr.io/helxplatform/helm-charts/helx --version {{ .Chart.Version }} --set appstore.userStorage.createPVC=true,nfs-server.enabled=false

# Review the output of the Helm install command.  To review the output use the
# status option.
helm -n $NAMESPACE status helx
# Delete the HeLx chart.
helm -n $NAMESPACE delete helx
# Get the default values yaml for HeLx and subcharts.
helm show values oci://ghcr.io/helxplatform/helm-charts/helx --version {{ .Chart.Version }}

```

To do more than the most basic install you should create a values.yaml that contains settings for your local HeLx environment.  A sample is below.

```
appstore:
  django:
    APPSTORE_DJANGO_PASSWORD: "< my secret password >"
    AUTHORIZED_USERS: "user1@example.com,user2@example.com,user3@example.com"
  ACCOUNT_DEFAULT_HTTP_PROTOCOL: https
  userStorage:
    createPVC: true
  oauth:
    OAUTH_PROVIDERS: "google,github"
    GOOGLE_NAME: "< secret >"
    GOOGLE_CLIENT_ID: "< secret >"
    GOOGLE_SECRET: "< secret >"
    GITHUB_NAME: "< secret >"
    GITHUB_CLIENT_ID: "< secret >"
    GITHUB_SECRET: "< secret >"

nfs-server:
  enabled: false

nginx:
  service:
    serverName: helx.example.com
  SSL:
    nginxTLSSecret: example-tls-secret
```

To deploy HeLx using the values.yaml use the following command.
```
helm -n $NAMESPACE --create-namespace install helx oci://ghcr.io/helxplatform/helm-charts/helx --version {{ .Chart.Version }} --values values.yaml
```

You can view the README.md files for each subchart to see the variables that exist.


{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
