# A local, gitignored file containing paths to local values files that
# should be used when deploying the helx chart with `make helm-deploy`.
~/Documents/code/helx/deploy/helm/values/azure/defaults/values.yaml
~/Documents/code/helx/deploy/helm/values/azure/envs/ai-sb-test/values.yaml
path/to/your/local/values.yaml
