{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" .  }}{{ template "chart.typeBadge" .  }}{{ template "chart.appVersionBadge" .  }}

## CI/CD

When this chart changes, GitHub Actions lints, packages, and publishes the updated version to the HeLx GHCR OCI chart registry.

Additionally there is a workflow that allows bumping the chart version, if this is all that is needed to the cooresponding version of the appstore repository.

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}

